<!DOCTYPE html>
<html>
<head>
    <title>Formatting Example</title>
</head>
<body>
    <h3>Normal</h3>
    <p>I learned to use subscript and superscript in HTML. 
        Example: H<sub>2</sub>O, H<sub>2</sub>SO<sub>4</sub>,
        a<sup>2</sup>+b<sup>2</sup>=(a+b)<sup>2</sup>-2ab, a<sup>2</sup>-b<sup>2</sup>=(a+b)(a-b)</p>
    <h3>Monospaced</h3>
    <p><tt>I learned to use subscript and superscript in HTML. 
        Example: H<sub>2</sub>O, H<sub>2</sub>SO<sub>4</sub>,
        a<sup>2</sup>+b<sup>2</sup>=(a+b)<sup>2</sup>-2ab, a<sup>2</sup>-b<sup>2</sup>=(a+b)(a-b)</tt></p>
</body>
</html>