<html>
<head>
    <title>Selector Examle</title>
    <link rel="stylesheet" href="css/combinator.css">
</head>
<body>
    <h4>Combinators:</h4>
    <div>
        <div id="general">General:</div>
        <div>This is one</div>
        <div>This is two</div>
    </div>
    <div id="adjacent">Adjacent:</div>
    <div>This is one</div>
    <div>This is two</div>
    <div id="decendent">
        Decendent:
        <div>This is one</div>
        <div>This is two</div>
        <span><div>This is three</div></span>
    </div>
    <div id="child">
        Child:
        <div>This is one</div>
        <div>This is two</div>
        <span><div>This is three</div></span>
    </div>
</body>
</html>